/* header */
.header {
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: $box-shadow;
    &__logo {
        width: 180px;
        margin: 24px 0px 12px 0px;
    }
    &__home {
        position: absolute;
        left: 6%;
        margin-top: 28px;
    }
    &__arrow {
        font-size: 26px;
        opacity: 0.8;
    }
    &__txt {
        visibility: hidden;
    }
}
@media screen and (min-width:768px) {
    .header {
        &__home {
            position: absolute;
            left: 6%;
            margin-top: 28px;
        }
        &__arrow {
            font-size: 18px;
            opacity: 1;
            margin-top: 5px;
            margin-right: 10px;
        }
        &__txt {
            visibility: visible;
            position: absolute;
            font-size: 20px;
            font-family: $font-logo;
        }
    }
}
/* fin header */

/* footer */
.footer {
    display: flex;
    flex-direction: column;
    color: $colour-white;
    background-color: $colour-footer;
    padding: 20px 0px;
    margin-bottom: -1px;
    &__logo {
        font-family: $font-logo;
        font-size: 18px;
        padding-left: 40px;
        margin: 0px 0px 5px 0px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        &__icon {
            width: 20px;
            margin-right: 8px;
        }
        & li {
            line-height: 1.5;
            font-family: $font-secondary;
            font-size: 18px;
        }
        & a {
            color: $colour-white;
        }
    }
}
@media screen and (min-width:768px) {
    .footer {
        &__logo {
            padding-left: 16%;
            font-size: 24px;
        }
        &__list {
            padding-left: 15%;
        }
    }
}

@media screen and (min-width:1200px) {
    .footer {
        &__logo {
            align-self: center;
            padding-left: 0px;
            margin-bottom: 25px;
            font-size: 32px;
        }
        &__list {
            flex-direction: row;
            justify-content: space-evenly;
            padding-left: 0px;
            & li {
                width: 15%;
                font-size: 20px;
            }
        }
    }
}
/* fin footer */

/* loading spinner */
.loadspinner {
    z-index: 99999;
    background-color: $colour-white;
    font-family: $font-logo;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    cursor: wait;
    animation: loading 0.1ms 4s forwards;
    &__txt {
        display: flex;
        justify-content: center;
        column-gap: 36px;
        &__element {
            font-size: 36px;
            animation: bounce 1s infinite;
            &--1 {
                color: $colour-primary;
                animation-delay: 0s;
            }
            &--2 {
                color: $colour-secondary;
                animation-delay: 0.1s;
            }
            &--3 {
                color: $colour-tertiary;
                animation-delay: 0.2s;
            }
        }
    }
    &__color {
        display: flex;
        height: 150px;
        &__element {
            width: 20%;
            height: 15px;
            margin-top: 30px;
            animation: load 0.6s infinite;
            &--1 {
                background-color: $colour-tertiary;
                animation-delay: 0s;
            }
            &--2 {
                background-color: $colour-tertiary;
                animation-delay: 0.1s;
            }
            &--3 {
                background-color: $colour-secondary;
                animation-delay: 0.2s;
            } 
            &--4 {
                background-color: $colour-secondary;
                animation-delay: 0.3s;
            }
            &--5 {
                background-color: $colour-primary;
                animation-delay: 0.4s;
            }
            &--6 {
                background-color: $colour-primary;
                animation-delay: 0.5s;
            } 
        }
    }
}
@media screen and (min-width:1200px) {
    .loadspinner {
        &__color {
            margin: 0px auto;
            width: 400px;
            &__element {
                height: 20px;
            }
        }
    }
}
/* loading spinner ending */

/* localisation */
.tracking {
    background-color: $colour-search;
    text-align: center;
}

input[type=text] {
    width: 120px;
    background-color: $colour-search;
    color: $colour-black;
    border: $colour-search;
    padding: 20px 16px
}

.fa-map-marker-alt {
    opacity: 0.8;
}

#placesearch::placeholder {
    color: $colour-black;
    opacity: 0.8;
    font-size: 16px;
    font-family: $font-main;
}
/* fin localisation */