$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-molten: linear-gradient($colour-secondary, $colour-primary);
$colour-background: #F2F2F2;
$colour-footer: #232323;
$colour-search: #e8e8e8;


@font-face {
    font-family: Shrikhand;
    src: url(../Font/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-thin;
    src: url(../Font/Roboto-Light.ttf);
}


body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 20px;
    margin: 0%;
}

h2 {
    font-size: 20px;
    margin: 0%;
}

h3 {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}

p {
    font-size: 14px;
    font-family: roboto-thin;
    margin: 0%;
}

.fa-heart {
    font-size: 25px;
}

button {
    font-family: roboto;
    width: 220px;
    height: 50px;
    font-size: 14px;
    border: 0px;
    border-radius: 30px;
    display: block;
    margin: auto;
    color: white;
    background: $colour-molten;
    transition-duration: 300ms;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover {
        opacity: 0.8;
        box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 4px;
    }
}

.header {
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &__logo {
        width: 180px;
        margin: 24px 0px 12px 0px;
    }
    &__arrow {
        position: absolute;
        left: 10%;
        margin-top: 28px;
    }
}

.footer {
    color: white;
    background-color: $colour-footer;
    padding: 10px 0px;
    &__logo {
        font-family: Shrikhand;
        font-size: 20px;
        padding-left: 40px;
    }
    &__icon {
        width: 20px;
        margin-right: 8px;
    }
    &__list {
        list-style-type: none;
        & li {
            line-height: 2;
            font-family: roboto-thin;
        }
        & a {
            color: white;
        }
    }
}

.fa-arrow-left {
    font-size: 26px;
    opacity: 0.8;
}

.tracking {
    background-color: $colour-search;
    text-align: center;
}

input[type=text] {
    width: 120px;
    background-color: $colour-search;
    color: black;
    border: lightgray;
    padding: 14px 14px
}

.fa-map-marker-alt {
    opacity: 0.8;
}

#placesearch::placeholder {
    color: black;
    opacity: 0.8;
    font-size: 14px;
    font-family: roboto;
}

.company {
    background-color: $colour-background;
    padding: 20px 0px 50px 0px;
    text-align: center;
    & h1 {
        padding: 10px 60px;
    }
    & p {
        padding: 20px 20px;
        opacity: 0.6;
    }
}

.running {
    margin: 10% 5%;
    &__bloc {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        margin: 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        position: relative;
        background-color: $colour-background;
        &::before {
            content: " ";
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background: $colour-primary;
            opacity: 0;
            z-index: 1;
            transition: 100ms;
            border-radius: 20px;
        }
        &:hover::before {
            opacity: 0.1;
        }
        &:hover .running__icon {
            color: $colour-primary;
            opacity: 1;
        }
    }
    &__number {
        position: absolute;
        font-size: 12px;
        left: -8px;
        padding: 4px 8px;
        border-radius: 100%;
        color: white;
        background-color: $colour-primary;
    }
    &__icon {
        font-size: 18px;
        position: absolute;
        opacity: 0.6;
        left: 12%;
    }
    & p {
        font-family: roboto;
    }
}

.restaurant {
    padding: 10% 5%;
    background-color: $colour-background;
    &__card {
        position: relative;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
    }
    &__img {
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__new {
        position: absolute;
        top: 5%;
        right: 5%;
        padding: 6px 12px;
        border-radius: 2px;
        background-color: $colour-tertiary;
        font-size: 12px;
        font-family: roboto;
        color: darken($color: $colour-tertiary, $amount: 50%);
    }
    &__txt {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        margin-top: -5px;
        text-align: start;
        background-color: #FFFFFF;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        & h4 {
            margin:  15px 0% 5px 0%;
        }
        & p {
            margin: 0% 0% 15px 0%;
        }
    }
    &__heart {
        position: absolute;
        bottom: 10%;
        right: 5%;
        &:active + .heartfull {
            animation: heart 200ms forwards;
        }
    }
    .heartfull {
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }
    & h2 {
        margin-bottom: 25px;
    }
}

@keyframes heart{
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.8);
    }
    100%{
        transform: scale(1.2);
    }
}

.menu {
    background-color: $colour-background;
    padding-bottom: 80px;
    &__img {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-left: 4%;
        margin-top: -50px;
        text-align: start;
        position: relative;
        background-color: $colour-background;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    &__heading {
        font-family: Shrikhand;
        font-size: 26px;
    }
    &__heart {
        position: absolute;
        right: 6%;
        &:active + .heartfull {
            animation: heart 200ms forwards;
        }
    }
    .heartfull {
        background: -webkit-linear-gradient($colour-primary, $colour-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(0);
    }
    &__bloc {
        width: 90%;
        margin: auto;
        animation: menu 600ms 200ms backwards;
        transform-origin: top left;
    }
    &__card {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 12px;
        margin: 15px 0px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 15px;
        animation: menucard 400ms ease-out backwards;
        @for $i from 1 through 10 {
            &--#{$i} {
                animation-delay: (150ms * $i);
            }
        }
        &::after {
            width: 20%;
            content: " ";
            background-color: $colour-tertiary;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 80%;
            transform: scale(0);
            z-index: 1;
            transition: 300ms;
            transform-origin: right;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &:active::after {
            transform: scale(1);
        }
        &:active .menu__check {
            opacity: 1;
        }
        &:active .menu__price {
            transform: translateX(-80px);
        }
        &:active .menu__txt {
            margin-right: 90px;
        }
    }
    &__check {
        font-size: 22px;
        position: absolute;
        color: white;
        right: 6%;
        top: 35%;
        z-index: 2;
        opacity: 0;
        transition-delay: 100ms;
    }
    &__txt {
        overflow: hidden;
        margin-right: 10px;
    }
    & h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    & p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    &__price {
        align-self: flex-end;
        padding-right: 10px;
        transition-duration: 300ms;
    }
    & h2 {
        margin: 30px 0px 15px 0px;
        font-family: roboto-thin;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        &:after {
            content: "";
            width: 50px;
            border-bottom: 3px solid $colour-tertiary;
            position: absolute;
            bottom: -8px;
            left: 0%;
        }
    }
    & button {
        margin-top: 50px;
    }
}

.loading {
    z-index: 99999;
    background-color: white;
    font-family: Shrikhand;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    cursor: wait;
    animation: loading 0.1ms 4s forwards;
}

.loadspinner {
    display: flex;
    justify-content: space-evenly;
    &__txt {
        font-size: 36px;
        animation: bounce 1s infinite;
        &--1 {
            color: $colour-primary;
            animation-delay: 0s;
        }
        &--2 {
            color: $colour-secondary;
            animation-delay: 0.1s;
        }
        &--3 {
            color: $colour-tertiary;
            animation-delay: 0.2s;
        }
    }
}
.loadspin {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 150px;
    &__element {
        width: 20%;
        height: 15px;
        margin-top: 30px;
        animation: load 0.6s infinite;
        &--1 {
            background-color: $colour-tertiary;
            animation-delay: 0s;
        }
        &--2 {
            background-color: $colour-tertiary;
            animation-delay: 0.1s;
        }
        &--3 {
            background-color: $colour-secondary;
            animation-delay: 0.2s;
        } 
        &--4 {
            background-color: $colour-secondary;
            animation-delay: 0.3s;
        }
        &--5 {
            background-color: $colour-primary;
            animation-delay: 0.4s;
        }
        &--6 {
            background-color: $colour-primary;
            animation-delay: 0.5s;
        } 
    }
    
}

@keyframes menu{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes menucard{
    0% {
        transform: translateX(-1500%);
    }    
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
}

@keyframes loading {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(1500%);
    }
}

@keyframes load {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }