$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background: #F2F2F2;
$colour-footer: #232323;
$colour-search: #ececec;


@font-face {
    font-family: Shrikhand;
    src: url(../Font/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../Font/Roboto-Regular.ttf);
}

body {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: black 5px 0px 4px, #F2F2F2 -1px 0px 0px;
    &__logo {
        width: 200px;
        margin: 24px 0px 12px 0px;
    }
    &__arrow {
        position: absolute;
        left: 10%;
        margin-top: 28px;
    }
}

.footer {
    color: white;
    background-color: $colour-footer;
    padding: 10px 0px;
    &__logo {
        font-family: Shrikhand;
        font-size: 20px;
        padding-left: 40px;
    }
    &__icon {
        width: 20px;
        margin-right: 8px;
    }
    &__list {
        list-style-type: none;
        & li {
            line-height: 2;
        }
    }
}

.fa-arrow-left {
    font-size: 26px;
    opacity: 0.8;
}

.tracking {
    background-color: $colour-search;
    text-align: center;
}

input[type=text] {
    background-color: $colour-search;
    color: black;
    border: lightgray;
    padding: 14px 14px
}

.fa-map-marker-alt {
    opacity: 0.8;
}

#placesearch::placeholder {
    color: black;
    opacity: 0.9;
    font-size: 14px;
}

.restaurant {
    display: flex;
    flex-direction: column;
    &__card {
        width: 90%;
        margin: auto;
    }
    &__img {
        object-fit: cover;
        width: 100%;
    }
}

.menu {
    &__heading {
        font-family: Shrikhand;
    }
    &__img {
        object-fit: cover;
        width: 100%;
    }
}
