@media screen and (min-width:768px) {
    .header {
        &__home {
            position: absolute;
            left: 6%;
            margin-top: 28px;
        }
        &__arrow {
            font-size: 18px;
            opacity: 1;
            margin-top: 5px;
            margin-right: 10px;
        }
        &__txt {
            visibility: visible;
            position: absolute;
            font-size: 20px;
            font-family: $font-logo;
        }
    }
    .running {
        & h2 {
            margin-bottom: 20px;
        }
        &__bloc {
            height: 80px;
        }
        &__icon {
            left: 18%;
        }
    }
    .restaurantpage {
        &__heart {
            font-size: 32px;
        }
    }
    .menu {
        &__img {
        height: 350px;
        }
        &__header {
            padding-bottom: 80px;
        }
    }
}

@media screen and (min-width:1200px) {
    .loadspinner {
        &__color {
            margin: 0px auto;
            width: 400px;
            &__element {
                height: 20px;
            }
        }
    }
    .company {
        width: 600px;
        margin: auto;
        margin-top: 60px;
        border-radius: 20px;
        box-shadow: $box-shadow;
    }
    .running {
        width: 65%;
        max-width: 1000px;
        margin: 80px auto;
    }
    .restaurant {
        padding: 50px 10%;
        padding-bottom: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 5%;
        &__card  {
            width: 45%;
            max-width: 500px;
            height: 300px;
        }
        &__img {
            height: 250px;
        }
        &__heart {
            bottom: -1%;
            right: 8%;
        }
        & h2 {
            width: 100%;
            margin-bottom: 0%;
        }
        &__new {
            padding: 8px 16px;
            font-size: 16px;
        }
    }
    .restaurantpage {
        &__header {
            margin-top: 0%;
        }
        &__img {
            height: 300px;
            object-position: 50% 55%;
        }
        &__heart {
            font-size: 38px;
        }
    }
    .menu {
        display: flex;
        padding-left: 1%;
        padding-right: 1%;
        &__bloc {
            width: 32%;
            max-width: 450px;
            margin: 0% auto
        }
    }
}