/* Variables */
/* Variables end */
/* Keyframes */
@keyframes menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes menucard {
  0% {
    transform: translateX(-1500%);
    opacity: 0;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}
@keyframes loading {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(1500%);
  }
}
@keyframes load {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes Check {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.4);
    color: #FF79DA;
  }
  100% {
    transform: scale(1);
    color: #FF79DA;
  }
}
/* Kayframes end */
@font-face {
  font-family: Shrikhand;
  src: url(../Font/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../Font/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto-thin;
  src: url(../Font/Roboto-Light.ttf);
}
body {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  font-family: Roboto;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 24px;
  margin: 0%;
}

h2 {
  font-size: 24px;
  margin: 0%;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-family: Roboto-thin;
  margin: 0%;
}

.fa-heart {
  font-size: 28px;
}

/* button */
button {
  font-family: Roboto;
  width: 220px;
  height: 50px;
  font-size: 14px;
  border: 0px;
  border-radius: 30px;
  display: block;
  margin: auto;
  color: #FFFFFF;
  background: linear-gradient(#FF79DA, #9356DC);
  transition-duration: 300ms;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover {
  opacity: 0.8;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 4px;
}

/* button end */
/* button heart */
.heart {
  position: absolute;
}
.heart:active + .heartfull {
  animation: heart 200ms forwards;
}

.heartfull {
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}

/* button heart end */
/* header */
.header {
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__logo {
  width: 200px;
  margin: 24px 0px 12px 0px;
}
.header__home {
  position: absolute;
  left: 6%;
  margin-top: 28px;
}
.header__arrow {
  font-size: 26px;
  opacity: 0.8;
}
.header__txt {
  visibility: hidden;
}

/* fin header */
/* footer */
.footer {
  color: #FFFFFF;
  background-color: #232323;
  padding: 10px 0px;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 28px;
  padding-left: 40px;
  margin: 0px 0px 5px 0px;
}
.footer__icon {
  width: 20px;
  margin-right: 8px;
}
.footer__list {
  list-style-type: none;
}
.footer__list li {
  line-height: 2;
  font-family: Roboto-thin;
  font-size: 18px;
}
.footer__list a {
  color: #FFFFFF;
}

/* fin footer */
/* loading spinner */
.loadspinner {
  z-index: 99999;
  background-color: #FFFFFF;
  font-family: Shrikhand;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  cursor: wait;
  animation: loading 0.1ms 4s forwards;
}
.loadspinner__txt {
  display: flex;
  justify-content: center;
  column-gap: 36px;
}
.loadspinner__txt__element {
  font-size: 36px;
  animation: bounce 1s infinite;
}
.loadspinner__txt__element--1 {
  color: #9356DC;
  animation-delay: 0s;
}
.loadspinner__txt__element--2 {
  color: #FF79DA;
  animation-delay: 0.1s;
}
.loadspinner__txt__element--3 {
  color: #99E2D0;
  animation-delay: 0.2s;
}
.loadspinner__color {
  display: flex;
  height: 150px;
}
.loadspinner__color__element {
  width: 20%;
  height: 15px;
  margin-top: 30px;
  animation: load 0.6s infinite;
}
.loadspinner__color__element--1 {
  background-color: #99E2D0;
  animation-delay: 0s;
}
.loadspinner__color__element--2 {
  background-color: #99E2D0;
  animation-delay: 0.1s;
}
.loadspinner__color__element--3 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.loadspinner__color__element--4 {
  background-color: #FF79DA;
  animation-delay: 0.3s;
}
.loadspinner__color__element--5 {
  background-color: #9356DC;
  animation-delay: 0.4s;
}
.loadspinner__color__element--6 {
  background-color: #9356DC;
  animation-delay: 0.5s;
}

/* loading spinner ending */
/* localisation */
.tracking {
  background-color: #e8e8e8;
  text-align: center;
}

input[type=text] {
  width: 120px;
  background-color: #e8e8e8;
  color: #000000;
  border: #e8e8e8;
  padding: 20px 16px;
}

.fa-map-marker-alt {
  opacity: 0.8;
}

#placesearch::placeholder {
  color: #000000;
  opacity: 0.8;
  font-size: 14px;
  font-family: Roboto;
}

/* fin localisation */
/* Index */
.company {
  background-color: #F2F2F2;
  padding: 20px 0px 50px 0px;
  text-align: center;
}
.company h1 {
  padding: 10px 60px;
}
.company p {
  padding: 20px 20px;
  margin-bottom: 20px;
  opacity: 0.6;
}

.running {
  margin: 10% 5%;
}
.running__bloc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  position: relative;
  background-color: #F2F2F2;
}
.running__bloc::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 2px 5px 4px;
  background: #f2eafb;
  opacity: 0;
  z-index: 0;
  transition: 100ms;
  border-radius: 15px;
}
.running__bloc:hover::before {
  opacity: 1;
}
.running__bloc:hover .running__icon {
  color: #9356DC;
  opacity: 1;
}
.running__number {
  position: absolute;
  font-size: 12px;
  left: -8px;
  padding: 4px 8px;
  border-radius: 100%;
  color: #FFFFFF;
  background-color: #9356DC;
}
.running__icon {
  text-align: center;
  font-size: 20px;
  width: 25px;
  position: absolute;
  opacity: 0.6;
  left: 10%;
}
.running p {
  font-family: Roboto;
  z-index: 1;
}

.restaurant {
  padding: 10% 5%;
  background-color: #F2F2F2;
}
.restaurant__card {
  position: relative;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}
.restaurant__img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__new {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 6px 12px;
  border-radius: 2px;
  background-color: #99E2D0;
  font-size: 12px;
  font-family: Roboto;
  color: #1b6150;
}
.restaurant__txt {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-top: -5px;
  text-align: start;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__txt h3 {
  margin: 15px 0% 5px 0%;
}
.restaurant__txt p {
  margin: 0% 0% 15px 0%;
}
.restaurant__heart {
  bottom: 10%;
  right: 5%;
}
.restaurant h2 {
  margin-bottom: 25px;
}

/* fin Index */
/* Menu */
.restaurantpage {
  background-color: #F2F2F2;
  padding-bottom: 60px;
}
.restaurantpage__img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
.restaurantpage__header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 4%;
  margin-top: -50px;
  position: relative;
  background-color: #F2F2F2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.restaurantpage__heading {
  font-family: Shrikhand;
  font-size: 26px;
}
.restaurantpage__heart {
  right: 6%;
}

.menu {
  padding-bottom: 80px;
}
.menu__bloc {
  width: 90%;
  margin: auto;
  animation: menu 600ms 200ms backwards;
  transform-origin: top left;
}
.menu__card {
  display: flex;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  margin: 15px 0px;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  cursor: pointer;
  animation: menucard 400ms ease-out backwards;
}
.menu__card--1 {
  animation-delay: 200ms;
}
.menu__card--2 {
  animation-delay: 400ms;
}
.menu__card--3 {
  animation-delay: 600ms;
}
.menu__card--4 {
  animation-delay: 800ms;
}
.menu__card--5 {
  animation-delay: 1000ms;
}
.menu__card--6 {
  animation-delay: 1200ms;
}
.menu__card--7 {
  animation-delay: 1400ms;
}
.menu__card--8 {
  animation-delay: 1600ms;
}
.menu__card--9 {
  animation-delay: 1800ms;
}
.menu__card--10 {
  animation-delay: 2000ms;
}
.menu__card:hover .menu__check {
  transform: translateX(0px);
}
.menu__card:hover .menu__check--icon {
  transform: rotate(360deg);
}
.menu__card:hover .menu__price {
  margin-right: 90px;
}
.menu__card:active .menu__check--icon {
  animation: Check 200ms forwards;
}
.menu__check {
  position: absolute;
  right: 0%;
  width: 80px;
  height: 100%;
  margin-right: -5px;
  margin-bottom: -5px;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transform: translateX(150px);
  transition: 600ms;
  text-align: center;
}
.menu__check--icon {
  font-size: 22px;
  margin-top: 22px;
  color: #FFFFFF;
  transition: 350ms 180ms;
}
.menu__price {
  align-self: flex-end;
  margin-right: 25px;
  margin-bottom: 12px;
  transition-duration: 600ms;
}
.menu__txt {
  overflow: hidden;
  padding: 12px;
}
.menu h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: auto;
}
.menu p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu h2 {
  margin: 30px 0px 15px 0px;
  font-family: Roboto-thin;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.menu h2:after {
  content: "";
  width: 50px;
  border-bottom: 3px solid #99E2D0;
  position: absolute;
  bottom: -8px;
  left: 0%;
}
.menu button {
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .header__home {
    position: absolute;
    left: 6%;
    margin-top: 28px;
  }
  .header__arrow {
    font-size: 18px;
    opacity: 1;
    margin-top: 5px;
    margin-right: 10px;
  }
  .header__txt {
    visibility: visible;
    position: absolute;
    font-size: 20px;
    font-family: Shrikhand;
  }

  .running h2 {
    margin-bottom: 20px;
  }
  .running__bloc {
    height: 80px;
  }
  .running__icon {
    left: 18%;
  }

  .restaurantpage__heart {
    font-size: 32px;
  }

  .menu__img {
    height: 350px;
  }
  .menu__header {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .loadspinner__color {
    margin: 0px auto;
    width: 400px;
  }
  .loadspinner__color__element {
    height: 20px;
  }

  .company {
    width: 600px;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .running {
    width: 65%;
    max-width: 1000px;
    margin: 80px auto;
  }

  .restaurant {
    padding: 50px 10%;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px 5%;
  }
  .restaurant__card {
    width: 45%;
    max-width: 500px;
    height: 300px;
  }
  .restaurant__img {
    height: 250px;
  }
  .restaurant__heart {
    bottom: -1%;
    right: 8%;
  }
  .restaurant h2 {
    width: 100%;
    margin-bottom: 0%;
  }
  .restaurant__new {
    padding: 8px 16px;
    font-size: 16px;
  }

  .restaurantpage__header {
    margin-top: 0%;
  }
  .restaurantpage__img {
    height: 300px;
    object-position: 50% 55%;
  }
  .restaurantpage__heart {
    font-size: 38px;
  }

  .menu {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
  }
  .menu__bloc {
    width: 32%;
    max-width: 450px;
    margin: 0% auto;
  }
}

/*# sourceMappingURL=Style.css.map */
